.headerTop {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 0 2px rgba(0,0,0,.1) !important;
}

.menuList {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.navLinks {
  list-style-type: none;
  padding: 0 20px;
  color: #323234;
}

.navLinks:nth-child(4) {
  margin: 0 auto;
  flex-shrink: 1;
  width: 600px;
}

.navLinks button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px 10px 8px 10px;
  border: none;
  background-color: #F9F9F9;
}

.twitchLogo {
  margin-top: 5px;
}

.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.searchIcon {
  width: 20px;
  background-color: #F9F9F9;
}

.searchInput {
  width: 50%;
  background-color: #EFEFF1;
  border: 2px solid #EFEFF1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menuResBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #FFF;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIcon {
  width: 25px;
}